.2_2 { 
	overflow:hidden;
}.e2_2 { 
	background-color:rgba(76.50000303983688, 76.50000303983688, 76.50000303983688, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e2_3 { 
	background-color:rgba(38.25000151991844, 38.25000151991844, 38.25000151991844, 1);
	width:300px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_4 { 
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:668.5233154296875px;
}.e2_5 { 
	background-color:rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_6 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e2_7 { 
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:579.5233154296875px;
}.e2_8 { 
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_9 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e2_10 { 
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:490.5233459472656px;
}.e2_11 { 
	background-color:rgba(74.3749974668026, 74.3749974668026, 74.3749974668026, 1);
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_12 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:81.18929290771484px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e2_13 { 
	width:300px;
	height:81.18930053710938px;
	position:absolute;
	left:0px;
	top:401.5233459472656px;
}.e2_14 { 
	background-color:rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
	width:300px;
	height:80.75679016113281px;
	position:absolute;
	left:0px;
	top:0.4325084686279297px;
}.e2_15 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:80.75679016113281px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e2_16 { 
	width:265px;
	height:257.9101867675781px;
	position:absolute;
	left:18px;
	top:113.66500854492188px;
	background-image:url(images/about_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_17 { 
	width:234px;
	height:51.71717071533203px;
	position:absolute;
	left:33px;
	top:34.13333511352539px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_18 { 
	width:441px;
	height:74px;
	position:absolute;
	left:396px;
	top:21px;
}.e2_19 { 
	background-color:rgba(61.62499822676182, 61.62499822676182, 61.62499822676182, 1);
	width:441px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:11px;
	top:12px;
}.e2_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:38.98134231567383px;
	height:39.62952423095703px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_22 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:32.71161651611328px;
	height:33.25554275512695px;
	position:absolute;
	left:3.2711620330810547px;
	top:2.77130126953125px;
}.e2_23 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:38.98134231567383px;
	height:39.62952423095703px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_24 { 
	transform: rotate(-134.5275801771256deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:24.541221618652344px;
	height:4.556832313537598px;
	position:absolute;
	left:47.740440368652344px;
	top:50.95149612426758px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}.e2_25 { 
	width:1140px;
	height:261px;
	position:absolute;
	left:300px;
	top:221px;
}.e2_26 { 
	background-color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:1140px;
	height:261px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:47px;
	top:73px;
}.e2_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:266px;
	top:73px;
}.e2_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:485px;
	top:73px;
}.e2_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:704px;
	top:73px;
}.e2_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:923px;
	top:73px;
}.e2_32 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:29px;
	position:absolute;
	left:48px;
	top:25px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e2_33 { 
	width:1140px;
	height:261px;
	position:absolute;
	left:300px;
	top:743px;
}.e2_34 { 
	background-color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:1140px;
	height:261px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:47px;
	top:73px;
}.e2_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:266px;
	top:73px;
}.e2_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:485px;
	top:73px;
}.e2_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:704px;
	top:73px;
}.e2_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:923px;
	top:73px;
}.e2_40 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:29px;
	position:absolute;
	left:47px;
	top:27px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e2_41 { 
	width:1140px;
	height:261px;
	position:absolute;
	left:300px;
	top:482px;
}.e2_42 { 
	background-color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:1140px;
	height:261px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:47px;
	top:73px;
}.e2_44 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:266px;
	top:73px;
}.e2_45 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:485px;
	top:73px;
}.e2_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:704px;
	top:73px;
}.e2_47 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	position:absolute;
	left:923px;
	top:73px;
}.e2_48 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:169px;
	height:29px;
	position:absolute;
	left:48px;
	top:22px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e2_49 { 
	background-color:rgba(99.87500354647636, 99.87500354647636, 99.87500354647636, 1);
	width:1440px;
	height:110px;
	position:absolute;
	left:0px;
	top:914px;
}.e2_50 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:347px;
	top:114px;
}.e2_51 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:457px;
	top:113px;
}.e2_52 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:567px;
	top:114px;
}.e2_53 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:677px;
	top:114px;
}.e2_54 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:787px;
	top:114px;
}.e2_55 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:897px;
	top:114px;
}