.41_2 { 
	overflow:hidden;
}
.e41_2 { 
	box-sizing: border-box;
	padding: 1.5rem 0rem 1.5rem 1.5rem;
	width: 100%;
	height: 22.5rem;
	overflow: hidden;
	position: relative;
	display: flex;
	column-gap: 3rem;
	align-items: center;
	flex-shrink: 0;
}
.e42_123 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:20px;
	top:55%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_125 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_126 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:20px;
	top:5%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_127 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_152 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:185px;
	top:55%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_153 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_154 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:185px;
	top:5%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_155 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_156 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:365px;
	top:55%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_157 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_158 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:365px;
	top:5%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_159 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_168 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:545px;
	top:55%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_169 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_170 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:545px;
	top:5%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_171 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_172 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:725px;
	top:55%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_173 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_174 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:725px;
	top:5%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_175 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_176 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:905px;
	top:55%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_177 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_178 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:905px;
	top:5%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_179 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_180 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:1085px;
	top:55%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_181 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_182 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:1085px;
	top:5%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_183 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_184 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:1265px;
	top:55%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_185 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e42_186 { 
	background-color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:1265px;
	top:5%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e42_187 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 250%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
